* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color:blue;
  padding: 20px 10px;
  
}

.header a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  display: inline-block;
}



 .header-right {
  display: block;
  text-align: center;
} 


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    
  }
  
  .header-right {
    float: none;
  }
}